/*
    City B database
    [2024 Wikidot Theme]
    Edited for B市数据库 by Xswlfr.
    Some codes by Aelanna, Woedenaz, Croquembouche.
*/
@import url("https://sussy-lol.github.io/cbdb-wiki-css/css/s9-min.css");
@import url("https://bhl.scpwikicn.com/css/min/normalize.min.css");
@import url("https://sussy-lol.github.io/cbdb-wiki-css/css/bh-min.css");
@import url("https://sussy-lol.github.io/cbdb-wiki-css/css/csb.css");
:root {
    --theme-base: "black-highlighter";
    --theme-id: "cbdb";
    --theme-name: "C.B.D.B. Theme";
    --logo-image: url('https://sussy-lol.github.io/cbdb-wiki-css/cbdb-icon.svg');
    --header-title: "B市数据库";
    --header-subtitle: "记录不法分子";
}
.scp-image-block.block-right {
    padding: 1em !important;
    background: var(--gradient-header);
}

.scp-image-block img {
    padding-bottom: 1em;
}

.status {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 200%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.status span.active {
    color: rgb(var(--white-monochrome));
    margin-left: 0.5rem;
    -webkit-box-shadow:
    inset 100vw 0 0 0 rgb(var(--rating-module-button-plus-color)),
        0.25rem 0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        -0.25rem -0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        -0.25rem 0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        0.25rem -0.25rem 0 rgb(var(--rating-module-button-plus-color));
       -moz-box-shadow:
    inset 100vw 0 0 0 rgb(var(--rating-module-button-plus-color)),
        0.25rem 0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        -0.25rem -0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        -0.25rem 0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        0.25rem -0.25rem 0 rgb(var(--rating-module-button-plus-color));
            box-shadow:
    inset 100vw 0 0 0 rgb(var(--rating-module-button-plus-color)),
        0.25rem 0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        -0.25rem -0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        -0.25rem 0.25rem 0 rgb(var(--rating-module-button-plus-color)),
        0.25rem -0.25rem 0 rgb(var(--rating-module-button-plus-color));
}

.fonts-display {
    font-size: 1.25em;
}

.title-font {
    font-family: var(--title-font);
    font-weight: 700;
}

.header-font {
    font-family: var(--title-font);
    font-weight: 900;
}

.UI-font {
    font-family: var(--UI-font);
}

.mono-font {
    --MONO: 1;
    --CASL: 0;
    --CRSV: 0;
    font-family: var(--mono-font);
}
